.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  height: 200vh;
}


.box{
  width : 200px;
  height: 200px;
  background: peru;
  color : white;
}
